BODY {
	BACKGROUND: #ffffff; COLOR: #000000; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT: 10pt arial, helvetica, sans-serif; PADDING-LEFT: 0px; MARGIN: 0px 0px 10px; PADDING-RIGHT: 0px
}
A:link {
	COLOR: #990033
}
body_alink {
	COLOR: #990033
}
A:visited {
	COLOR: #660033
}
body_avisited {
	COLOR: #660033
}
A:hover {
	TEXT-DECORATION: none; COLOR: #c40d42
}
A:active {
	TEXT-DECORATION: none; COLOR: #c40d42
}
body_ahover {
	TEXT-DECORATION: none; COLOR: #c40d42
}
.page {
	BACKGROUND: #ffffff; COLOR: #000000
}
TD {
	FONT: 10pt arial, helvetica, sans-serif
}
TH {
	FONT: 10pt arial, helvetica, sans-serif
}
P {
	FONT: 10pt arial, helvetica, sans-serif
}
LI {
	FONT: 10pt arial, helvetica, sans-serif
}
.tborder {
	BORDER-TOP: #999999 1px solid; BORDER-RIGHT: #999999 1px solid; BACKGROUND: #d1d1e1; BORDER-BOTTOM: #999999 1px solid; COLOR: #000000; BORDER-LEFT: #999999 1px solid
}
.tcat {
	BACKGROUND: #c2c2c2; COLOR: #000000; FONT: bold 12px verdana, arial, helvetica, sans-serif
}
.tcat A:link {
	TEXT-DECORATION: none; COLOR: #000000
}
.tcat_alink {
	TEXT-DECORATION: none; COLOR: #000000
}
.tcat A:visited {
	TEXT-DECORATION: none; COLOR: #000000
}
.tcat_avisited {
	TEXT-DECORATION: none; COLOR: #000000
}
.tcat A:hover {
	TEXT-DECORATION: underline; COLOR: #000000
}
.tcat A:active {
	TEXT-DECORATION: underline; COLOR: #000000
}
.tcat_ahover {
	TEXT-DECORATION: underline; COLOR: #000000
}
.thead {
	BACKGROUND: #c40d42; COLOR: #ffffff; FONT: bold 11px verdana, arial, helvetica, sans-serif
}
.thead A:link {
	COLOR: #ffffff
}
.thead_alink {
	COLOR: #ffffff
}
.thead A:visited {
	COLOR: #ffffff
}
.thead_avisited {
	COLOR: #ffffff
}
.thead A:hover {
	COLOR: #ffff00
}
.thead A:active {
	COLOR: #ffff00
}
.thead_ahover {
	COLOR: #ffff00
}
.tfoot {
	BACKGROUND: #ffffff; COLOR: #666666
}
.tfoot A:link {
	COLOR: #990033
}
.tfoot_alink {
	COLOR: #990033
}
.tfoot A:visited {
	COLOR: #660033
}
.tfoot_avisited {
	COLOR: #660033
}
.tfoot A:hover {
	TEXT-DECORATION: none; COLOR: #c40d42
}
.tfoot A:active {
	TEXT-DECORATION: none; COLOR: #c40d42
}
.tfoot_ahover {
	TEXT-DECORATION: none; COLOR: #c40d42
}
.alt1 {
	BACKGROUND: #f5f5f5; COLOR: #333333
}
.alt1Active {
	BACKGROUND: #f5f5f5; COLOR: #333333
}
.alt2 {
	BACKGROUND: #ebebeb; COLOR: #333333
}
.alt2Active {
	BACKGROUND: #ebebeb; COLOR: #333333
}
.alt2 A:link {
	COLOR: #000000
}
.alt2_alink {
	COLOR: #000000
}
.alt2Active A:link {
	COLOR: #000000
}
.alt2Active_alink {
	COLOR: #000000
}
.alt2 A:visited {
	COLOR: #000000
}
.alt2_avisited {
	COLOR: #000000
}
.alt2Active A:visited {
	COLOR: #000000
}
.alt2Active_avisited {
	COLOR: #000000
}
.alt2 A:hover {
	TEXT-DECORATION: none; COLOR: #000000
}
.alt2 A:active {
	TEXT-DECORATION: none; COLOR: #000000
}
.alt2_ahover {
	TEXT-DECORATION: none; COLOR: #000000
}
.alt2Active A:hover {
	TEXT-DECORATION: none; COLOR: #000000
}
.alt2Active A:active {
	TEXT-DECORATION: none; COLOR: #000000
}
.alt2Active_ahover {
	TEXT-DECORATION: none; COLOR: #000000
}
.inlinemod {
	BACKGROUND: #ffffcc; COLOR: #000000
}
.wysiwyg {
	BACKGROUND: #f5f5ff; COLOR: #333333; FONT: 10pt verdana, arial, helvetica, sans-serif
}
.wysiwyg A:link {
	COLOR: #000000
}
.wysiwyg_alink {
	COLOR: #000000
}
.wysiwyg A:visited {
	COLOR: #000000
}
.wysiwyg_avisited {
	COLOR: #000000
}
.wysiwyg A:hover {
	TEXT-DECORATION: none; COLOR: #000000
}
.wysiwyg A:active {
	TEXT-DECORATION: none; COLOR: #000000
}
.wysiwyg_ahover {
	TEXT-DECORATION: none; COLOR: #000000
}
TEXTAREA {
	FONT: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
.bginput {
	FONT: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
.bginput OPTION {
	FONT-SIZE: 10pt; FONT-FAMILY: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
.bginput OPTGROUP {
	FONT-SIZE: 10pt; FONT-FAMILY: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
.button {
	FONT: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
SELECT {
	FONT: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
OPTION {
	FONT-SIZE: 11px; FONT-FAMILY: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
OPTGROUP {
	FONT-SIZE: 11px; FONT-FAMILY: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
.smallfont {
	FONT: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
.time {
	COLOR: #666666
}
.navbar {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.highlight {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
.fjsel {
	BACKGROUND: #2d2d2d; COLOR: #ffffff
}
.fjdpth0 {
	BACKGROUND: #f7f7f7; COLOR: #000000
}
.panel {
	BORDER-TOP: 2px outset; BORDER-RIGHT: 2px outset; BACKGROUND: url(../../images/gradients/gradient_panel.gif) #e4e7f5 repeat-x left top; BORDER-BOTTOM: 2px outset; COLOR: #000000; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; BORDER-LEFT: 2px outset; PADDING-RIGHT: 10px
}
.panelsurround {
	BACKGROUND: url(../../images/gradients/gradient_panelsurround.gif) #d1d4e0 repeat-x left top; COLOR: #000000
}
LEGEND {
	COLOR: #22229c; FONT: 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
.vbmenu_control {
	BACKGROUND: #c2c2c2; WHITE-SPACE: nowrap; COLOR: #000000; PADDING-BOTTOM: 8px; TEXT-ALIGN: center; PADDING-TOP: 8px; FONT: bold 12px verdana,  arial, helvetica, sans-serif; PADDING-LEFT: 3px; PADDING-RIGHT: 3px
}
.vbmenu_control A:link {
	TEXT-DECORATION: none; COLOR: #000000
}
.vbmenu_control_alink {
	TEXT-DECORATION: none; COLOR: #000000
}
.vbmenu_control A:visited {
	TEXT-DECORATION: none; COLOR: #000000
}
.vbmenu_control_avisited {
	TEXT-DECORATION: none; COLOR: #000000
}
.vbmenu_control A:hover {
	TEXT-DECORATION: underline; COLOR: #000000
}
.vbmenu_control A:active {
	TEXT-DECORATION: underline; COLOR: #000000
}
.vbmenu_control_ahover {
	TEXT-DECORATION: underline; COLOR: #000000
}
.vbmenu_popup {
	BORDER-TOP: #0b198c 1px solid; BORDER-RIGHT: #0b198c 1px solid; BACKGROUND: #ffffff; BORDER-BOTTOM: #0b198c 1px solid; COLOR: #000000; BORDER-LEFT: #0b198c 1px solid
}
.vbmenu_option {
	CURSOR: pointer; BACKGROUND: #ebebeb; WHITE-SPACE: nowrap; COLOR: #000000; FONT: 11px verdana, arial, helvetica, sans-serif
}
.vbmenu_option A:link {
	TEXT-DECORATION: none; COLOR: #990033
}
.vbmenu_option_alink {
	TEXT-DECORATION: none; COLOR: #990033
}
.vbmenu_option A:visited {
	TEXT-DECORATION: none; COLOR: #660033
}
.vbmenu_option_avisited {
	TEXT-DECORATION: none; COLOR: #660033
}
.vbmenu_option A:hover {
	TEXT-DECORATION: none; COLOR: #c40d42
}
.vbmenu_option A:active {
	TEXT-DECORATION: none; COLOR: #c40d42
}
.vbmenu_option_ahover {
	TEXT-DECORATION: none; COLOR: #c40d42
}
.vbmenu_hilite {
	CURSOR: pointer; BACKGROUND: #c2c2c2; WHITE-SPACE: nowrap; COLOR: #000000; FONT: 11px verdana, arial, helvetica, sans-serif
}
.vbmenu_hilite A:link {
	TEXT-DECORATION: none; COLOR: #990033
}
.vbmenu_hilite_alink {
	TEXT-DECORATION: none; COLOR: #990033
}
.vbmenu_hilite A:visited {
	TEXT-DECORATION: none; COLOR: #660033
}
.vbmenu_hilite_avisited {
	TEXT-DECORATION: none; COLOR: #660033
}
.vbmenu_hilite A:hover {
	TEXT-DECORATION: none; COLOR: #c40d42
}
.vbmenu_hilite A:active {
	TEXT-DECORATION: none; COLOR: #c40d42
}
.vbmenu_hilite_ahover {
	TEXT-DECORATION: none; COLOR: #c40d42
}
TD.leftcolumn {
	BACKGROUND: url(../../images/gradients/gradient_left.gif) repeat-y
}
.welcome-content {
	MARGIN: 0px 0px 0px 5px
}
#p2p-menu {
	BORDER-TOP: #999999 1px solid; BORDER-RIGHT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; BORDER-LEFT: #999999 1px solid
}
#p2p-menu TD.vbmenu_control {
	BACKGROUND: #2d2d2d; WHITE-SPACE: nowrap; COLOR: #ffffff; PADDING-BOTTOM: 8px; TEXT-ALIGN: center; PADDING-TOP: 8px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px
}
#p2p-menu TD.vbmenu_control A:link {
	TEXT-DECORATION: none; COLOR: #ffffff
}
#p2p-menu TD.vbmenu_control A:visited {
	TEXT-DECORATION: none; COLOR: #ffffff
}
#p2p-menu TD.vbmenu_control A:hover {
	TEXT-DECORATION: underline; COLOR: #ffffff
}
#imod {
	BACKGROUND: #c40d42
}
.leaderboard-ad {
	MARGIN-BOTTOM: 5px; TEXT-ALIGN: center; MARGIN-TOP: 5px
}
.leftnav-ad {
	PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 12px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.text-ad {
	BORDER-TOP: #999999 1px solid; BORDER-RIGHT: #999999 1px solid; WIDTH: 343px; BACKGROUND: #c2c2c2; BORDER-BOTTOM: #999999 1px solid; MARGIN: 10px 0px; BORDER-LEFT: #999999 1px solid
}
.text-ad_content {
	FONT-SIZE: 11px; COLOR: #000; MARGIN: 10px
}
.text-ad_content A:link {
	TEXT-DECORATION: none
}
.text-ad_content A:visited {
	TEXT-DECORATION: none
}
.text-ad A:hover {
	TEXT-DECORATION: underline
}
DIV.featurebox P {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #ffffff; PADDING-LEFT: 10px; MARGIN: 0px 4px 8px 0px; LINE-HEIGHT: 2; BACKGROUND-COLOR: #000000
}
DIV.featureboxlinks {
	FONT-SIZE: 11px; PADDING-BOTTOM: 4px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 4px
}
.featureboxlinks_related_titles {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.featurebox_cover_image {
	BORDER-TOP: #666666 1px solid; BORDER-RIGHT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid; MARGIN: 0px 0px 5px; BORDER-LEFT: #666666 1px solid
}
.curvebox {
	FONT-FAMILY: Arial, Helvetica ,sans-serif; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px 0px 5px; PADDING-RIGHT: 0px
}
.curvebox-top {
	WIDTH: 100%; BACKGROUND: url(../../images/curvebox/curvebox-top_gradient.gif) repeat-x; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
.curvebox-top_left {
	WIDTH: 10px; FLOAT: left
}
.curvebox-top_right {
	WIDTH: 10px; FLOAT: right
}
.curvebox-main {
	BORDER-TOP: #cccccc 2px; BORDER-RIGHT: #cccccc 2px solid; BACKGROUND: url(../../images/curvebox/curvebox_gradient.gif) #e8e8e8 repeat-x; BORDER-BOTTOM: #cccccc 2px solid; MARGIN: 0px; BORDER-LEFT: #cccccc 2px solid
}
DIV.curvebox H3 {
	FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica ,sans-serif; MARGIN: 0px
}
DIV.subhead {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica ,sans-serif; PADDING-TOP: 5px
}
DIV.curveboxFooter P {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; MARGIN: -1.5em 0px 0px
}
DIV.curveboxNoFooter P {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; PADDING-LEFT: 15px; MARGIN: -0.2em 0px 0px
}
DIV.curveboxNoFooterBlogs P {
	FONT-SIZE: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; PADDING-LEFT: 15px; MARGIN: -0.2em 0px 0px
}
DIV.curveboxFooter A {
	COLOR: #990033
}
TD.greytable {
	BACKGROUND-COLOR: #e5e5e5
}
.curveboxMiscLinks {
	FONT-SIZE: 11px; FLOAT: right; MARGIN-TOP: -1.5em; PADDING-RIGHT: 15px
}
#leftnav {
	WIDTH: 155px; MARGIN: 12px 8px
}
#leftnav .leftheader {
	BACKGROUND: #5b5b5b; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
#leftnav .leftheader H3 {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, sans-serif; COLOR: #ffffff; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
#leftnav .navigation {
	BACKGROUND: #ffffff; PADDING-BOTTOM: 12px; PADDING-TOP: 12px; PADDING-LEFT: 11px; PADDING-RIGHT: 11px
}
#leftnav .nav-link {
	FONT-SIZE: 11px; PADDING-BOTTOM: 4px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 4px
}
DIV.footer {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica,sans-serif; COLOR: #666666; MARGIN-LEFT: 10px; MARGIN-TOP: 2px
}
DIV.gradient_bottom_stretch {
	HEIGHT: 5px; WIDTH: 100%; BACKGROUND: url(../../images/gradients/gradient_bottom.gif) repeat-x; MARGIN: 0px
}
.download-box {
	WIDTH: 224px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 5px 10px 5px 30px; PADDING-RIGHT: 0px
}
.download-box_top {
	HEIGHT: 8px; WIDTH: 224px; BACKGROUND: url(../../images/curvebox/download_curvebox_top.gif) no-repeat left bottom; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
.download-box_bottom {
	HEIGHT: 8px; WIDTH: 224px; BACKGROUND: url(../../images/curvebox/download_curvebox_bottom.gif) no-repeat left top; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
.download-box_wrapper {
	BORDER-RIGHT: #999 1px solid; BACKGROUND: #fff; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 5px; MARGIN: 0px; BORDER-LEFT: #999 1px solid; PADDING-RIGHT: 5px
}
.download-box H3 {
	FONT-SIZE: 13px; FONT-FAMILY: Helvetica, Arial, sans-serif; TEXT-TRANSFORM: uppercase; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
.download-box P {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, sans-serif; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 5px 0px 0px; PADDING-RIGHT: 0px
}
.nav-wrapper {
	BACKGROUND-COLOR: #c40d42
}
DIV.nav {
	OVERFLOW: hidden; HEIGHT: 30px; BACKGROUND: url(http://media.wiley.com/assets/1818/07/bg_nav.gif) repeat-x left top; PADDING-LEFT: 10px; MARGIN-TOP: 5px
}
DIV.subnav-wrapper {
	BACKGROUND: #666666; PADDING-TOP: 5px
}
DIV.subnav {
	OVERFLOW: hidden; HEIGHT: 24px; PADDING-LEFT: 15px; BACKGROUND-COLOR: #666666
}
DIV.nav UL {
	LIST-STYLE-TYPE: none; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DIV.subnav UL {
	LIST-STYLE-TYPE: none; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DIV.footer UL {
	LIST-STYLE-TYPE: none; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DIV.nav LI {
	FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DIV.subnav LI {
	FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DIV.nav A {
	FONT-SIZE: 13px; TEXT-DECORATION: none; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px 10px 0px 5px; DISPLAY: block; LINE-HEIGHT: 29px; PADDING-RIGHT: 0px
}
DIV.subnav A {
	FONT-SIZE: 13px; TEXT-DECORATION: none; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px 10px 0px 5px; DISPLAY: block; LINE-HEIGHT: 29px; PADDING-RIGHT: 0px
}
DIV.nav A:visited {
	FONT-SIZE: 13px; TEXT-DECORATION: none; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px 10px 0px 5px; DISPLAY: block; LINE-HEIGHT: 29px; PADDING-RIGHT: 0px
}
DIV.subnav A:visited {
	FONT-SIZE: 13px; TEXT-DECORATION: none; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px 10px 0px 5px; DISPLAY: block; LINE-HEIGHT: 29px; PADDING-RIGHT: 0px
}
DIV.nav A {
	COLOR: #fff
}
DIV.nav A:visited {
	COLOR: #fff
}
DIV.subnav A {
	FONT-SIZE: 12px; BORDER-RIGHT: #fff 1px dotted; FONT-WEIGHT: normal; COLOR: #fff; PADDING-BOTTOM: 2px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 2px 5px 0px; LINE-HEIGHT: 14px; PADDING-RIGHT: 10px; _border-width: 2px
}
DIV.subnav A:visited {
	FONT-SIZE: 12px; BORDER-RIGHT: #fff 1px dotted; FONT-WEIGHT: normal; COLOR: #fff; PADDING-BOTTOM: 2px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 2px 5px 0px; LINE-HEIGHT: 14px; PADDING-RIGHT: 10px; _border-width: 2px
}
DIV.subnav A:hover {
	TEXT-DECORATION: underline
}
DIV.subnav A.last {
	BORDER-RIGHT-STYLE: none
}
DIV.nav .current {
	BACKGROUND: url(http://media.wiley.com/assets/1818/08/bg_nav_current_left.gif) no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 5px; MARGIN: 0px 15px 0px 0px; PADDING-RIGHT: 0px; _margin-right: 5px
}
DIV.nav .current A {
	TEXT-DECORATION: none; BACKGROUND: url(http://media.wiley.com/assets/1818/09/bg_nav_current_right.gif) no-repeat right top; COLOR: #fff; PADDING-BOTTOM: 1px !important; PADDING-TOP: 0px !important; PADDING-LEFT: 5px !important; MARGIN: 0px 2px 0px 0px; DISPLAY: block; PADDING-RIGHT: 10px !important
}
DIV.nav .current A:visited {
	TEXT-DECORATION: none; BACKGROUND: url(http://media.wiley.com/assets/1818/09/bg_nav_current_right.gif) no-repeat right top; COLOR: #fff; PADDING-BOTTOM: 1px !important; PADDING-TOP: 0px !important; PADDING-LEFT: 5px !important; MARGIN: 0px 2px 0px 0px; DISPLAY: block; PADDING-RIGHT: 10px !important
}
DIV.nav A:hover {
	TEXT-DECORATION: underline; COLOR: #e5e5e5
}
DIV.subnav A:hover {
	TEXT-DECORATION: underline; COLOR: #e5e5e5
}
DIV.nav .current A:hover {
	TEXT-DECORATION: underline; COLOR: #e5e5e5
}
DIV.subnav .current A:hover {
	TEXT-DECORATION: underline; COLOR: #e5e5e5
}
DIV.subnav .current A:hover {
	TEXT-DECORATION: underline; COLOR: #e5e5e5
}
DIV.headerWrapper INPUT.inputSm {
	WIDTH: 100px
}
.bigusername {
	FONT-SIZE: 14pt
}
TD.thead {
	PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px
}
TH.thead {
	PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px
}
DIV.thead {
	PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px
}
.pagenav A {
	TEXT-DECORATION: none
}
.pagenav TD {
	PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px
}
.shade {
	TEXT-DECORATION: none; COLOR: #777777
}
A.shade:link {
	TEXT-DECORATION: none; COLOR: #777777
}
A.shade:visited {
	TEXT-DECORATION: none; COLOR: #777777
}
A.shade:active {
	TEXT-DECORATION: underline; COLOR: #ff4400
}
A.shade:hover {
	TEXT-DECORATION: underline; COLOR: #ff4400
}
.tcat .shade {
	COLOR: #dddddd
}
.thead .shade {
	COLOR: #dddddd
}
.tfoot .shade {
	COLOR: #dddddd
}
.fieldset {
	MARGIN-BOTTOM: 6px
}
.fieldset {
	FONT-SIZE: 11px
}
.fieldset TD {
	FONT-SIZE: 11px
}
.fieldset P {
	FONT-SIZE: 11px
}
.fieldset LI {
	FONT-SIZE: 11px
}
FORM {
	DISPLAY: inline
}
LABEL {
	CURSOR: default
}
.normal {
	FONT-WEIGHT: normal
}
.inlineimg {
	VERTICAL-ALIGN: middle
}
.underline {
	TEXT-DECORATION: underline
}
PRE.alt2 {
	WORD-WRAP: break-word; WIDTH: 800px !important
}
